# Chap 2 (practise problems)

In [1]:
print(3+7)
print(3*2)
print(5/2)
print(4/2)
print(2*3+1)
print((3+1)*3)
print(4.321/3+10)
print(4.321/(3+0))
print(14//3)
print(14%3)

10
6
2.5
2.0
7
12
11.440333333333333
1.4403333333333332
4
2

In [2]:
print(abs(-4.010))
print(abs(-10))
print(min(6,-2))
print(max(6,-2))
print(min(-2, 2))
print(max(2.06, 5, 20))

4.01
10
-2
6
-2
20

In [3]:
print(1+2+3+4+5)
#(B)
print("Average age:", 23+19+31)
#C
print(403//73)
#D
print(403%73)
#E
print(2**10)
#F
print(abs(54-57))
#G
print(min(34.99, 29.99,31.50))

15
Average age: 73
5
38
1024
3
29.99

In [4]:
print(2<3)
print(2>3)
print(5-1 > 2+1)
print(3==3)
print(4+4==5+3)
print(3!=4)
print(3<=4)

True
False
True
True
True
True
True

In [6]:
print(2+2<4)
#B
print(7//3 == 1+1)
#C
print(3**2+4**2 ==25)
#D
print(6+4+3>12)
#E
print(1387%19)
#F
if 31 / 2 != 0:
    print('31 is even')
#G
print(min(34.99, 29.95,31.50) < 30.00)

False
True
True
True
0
31 is even
True

In [7]:
a=3
b=4
c= a*a + b*b
c

25

In [8]:
print(3*'A')
print(30 * '-')
s = 'Hi'
print('h' in s)
print('H' in s)

AAA
------------------------------
False
True

In [9]:
s1= ' ant'
s2= ' bat'
s3= ' cod'
print(s1 + ' ' +s2+ ' ' + s3)
print(s1*10)
print(s1 , s2*2, s3*3) 
print(s1, s2,s1,s2,s1,s2,s1,s2)
print(3 * (2 * s2 + s3 + ''))

 ant  bat  cod
 ant ant ant ant ant ant ant ant ant ant
 ant  bat bat  cod cod cod
 ant  bat  ant  bat  ant  bat  ant  bat
 bat bat cod bat bat cod bat bat cod

In [10]:
s = '0123456789'
print(s[0])
print(s[1])
print(s[7])
print(s[8])
print(s[-1])

0
1
7
8
9

In [11]:
days = ('Mo', 'Tu', 'We', 'Th')
week = days + ('Fr', 'Sa', 'Su')
print(len(week))
print(week*2)

7
('Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su')

In [12]:
print(week[2])
print(days[0])

We
Mo

In [13]:
week.count('Su')
lst= [4, 5, 8, 2]
lst.sort()
print(lst)

[2, 4, 5, 8]

In [14]:
grades = [9,7,7,10,3,9,6,6,2]
print(grades.count(7))
(grades.remove(2)) , (grades.append(4))
print(grades)
print(min(grades))
grades.sort()
print(grades)
print(sum(grades) / len(grades))

2
[9, 7, 7, 10, 3, 9, 6, 6, 4]
3
[3, 4, 6, 6, 7, 7, 9, 9, 10]
6.777777777777778

In [15]:
#Practice Program 2.7
print(2+ 3 == 4 or a>=5)
print(lst[1] * -3 < -10 == 0)
print((lst[1] * -3 < -10) in [0, True])
print( 2 * 3**2)
print(4 / 2 in [1, 2, 3])

False
False
True
18
True

In [16]:
print(bool(False+False))
print(float(2 * 3**2.0))
print(int(4 // 2 + 4 % 2))
print(str(2 + 3 == 4 or 5 >= 5))

False
18.0
2
True